.footer{
    margin-top: 1rem;
    background-color: #212529;
    height: 100%;
    padding-top: 1rem;
}
.footer-paragraph{
    color: #68ad05;
    font-size: 3em;
    text-align: center;
}
.color{
    color: white;
}
.columna {
    height: 100px;
}
.fila{
    width: 100%;
}